
@{
    ViewBag.Title = "foo";
 
}
<style>
    #data {
        width:300px;
        height:400px;
        margin-top:10em;
        float:left;
        font-family:'Times New Roman', Times, serif;
        font-size:large;

        background-color:antiquewhite;

    }

</style>
<h2>foo</h2>

<div id="data">
    @section Sidebar{
        <p>This is the Sidebar</p>
    }

</div>

